//
   Created by awunnenb on 27.11.13.

// Startseite
extends layout
block content
    // h2= title
    ul#actions(data-role="listview",data-filter="true", data-filter-placeholder="Filter", data-inset="true")
        - each action in actions
            li(id=action._id)
                a(href="/edit/#{action._id}")
                    h3= action.eventTime
                      &nbsp
                      = moment(action.eventDate).format("dddd[,] ll")
                    table
                        thead
                            tr
                                if action.insulinUnits
                                    td
                                        = action.insulinUnits
                                        &nbspmmol/ml
                                if action.insulinUnits
                                    td
                                        = action.carbGrams
                                        &nbspGrams
                                if action.eventTypes
                                    td
                                        Type
                               
                            tr 
                                if action.insulinType
                                    td
                                        = action.insulinType
                                if action.carbTypes
                                    td
                                        = action.carbTypes
                                if action.eventTypes
                                    td
                                        = action.eventTypes
                            tr  
                                if action.note
                                    td(colspan=3)
                                        = action.note
                            
                    
                    p(class="ui-li-aside")
                        
                    a(href="/delete/#{action._id}",data-theme="a", data-icon="delete") Remove