//
   Created by awunnenb on 27.11.13.

doctype html
html
    head
        title= title
        // Mobile
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        // CSS
        link(rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css")
        link(rel="stylesheet" href="/javascript/datetimeentry/jquery.datetimeentry.css")
        link(rel="stylesheet" href="/css/event.css")
        // Script
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js")
        script(src="/javascript/datetimeentry/jquery.plugin.js")
        script(src="/javascript/datetimeentry/jquery.datetimeentry.js")
        script(src="/javascript/global.js")
    body
        div(data-role="page")
            div(data-role="header", data-position="fixed")
                h2= title
                a(href="/home", data-icon="home", data-ajax="false", class="ui-btn-left") List
                a(href="/new", data-icon="plus", data-ajax="false", class="ui-btn-right") New 
            div(data-role="content")
                block content
            div(data-role="footer", data-position="fixed")
                h3 ActivityCarbLog